.login-card {
  background-color: hsla(0, 0%, 100%, 0.9)
}
.login {
  padding-top: 2em;
  padding: 1rem;
}

.container {
  width: 50vw;
}

.login-button {
  width: 100%;
}

.google-login-button {
  width: 100%;
  background-color: #DA4B3E;
  color: white;
  margin-top: 1rem;
}

.two-factor-card {
  background-color: hsla(0, 0%, 100%, 0.9);
}

.signup-link {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

.forgot-password-link {
  display: flex;
  justify-content: flex-end;
}

.link {
  font-style: italic;
  color: gray;
  font-size: smaller;
}
