.center {
    text-align: center;
}

.topSpace {
    margin-top: 30px;
}

.top404Space {
    margin-top: 40px;
}

.warningSize {
    font-size: 50px;
}

.aligner {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.font404 {
    font-size: 180px;
}

@media only screen and (min-width : 750px) {
    app-company-metadata, app-map {
      display: inline-block;
      width: 49vw;
      vertical-align: top;
    }
  }


.not-found-card {
  margin-top: 1rem;
}
