.send-email-card {
  font-family: Roboto, Helvetica Neue, sans-serif;
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.form {
  display: flex;
  justify-content: center;
  padding-top: 1em;
}

.send-email {
  padding: 20px;
}

.container {
  width: 50vw;
}

.send-email-button {
  display: block;
  margin: 0 auto;
}

.back-to-login-link {
  display: flex;
  justify-content: center;
  padding-top: 1em;
}

.link {
  font-style: italic;
  color: gray;
  font-size: smaller;
}