<div class="send-email-card" *ngIf="!isLoggedIn() && !emailSent">
  <div class="send-email">
    <h4>Please enter the email used for signing up. We will send a link to reset your password.</h4>
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="login-form">
      <div class="form">
        <mat-input-container class="container">
          <input
            matInput
            placeholder="Email"
            type="text"
            id="email"
            class="form-control"
            formControlName="email">
        </mat-input-container>
      </div>
      <br>
      <button
        mat-raised-button
        type="submit"
        class="send-email-button"
        [disabled]="!myForm.valid">Send Email</button>
    </form>
    <div class="back-to-login-link">
      <a class="link" routerLink="/">Back to Login</a>
    </div>
  </div>
</div>
<div class="send-email-card" *ngIf="!isLoggedIn() && emailSent">
  <div class="send-email">
    <h4>Please check your email. You will receive a message from AngularTemplate with a link to reset your Deal Maker password.</h4>
    <div class="back-to-login-link">
      <a class="link" routerLink="/">Back to Login</a>
    </div>
  </div>
</div>
