<div class="send-email-card landing-page" *ngIf="!isLoggedIn()">
  <div class="send-email" layout="column" layout-align="center center">
    <h3>Reset password</h3>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="submitForm()" class="login-form">
      <div>
        <mat-input-container class="container">
          <input
            matInput
            placeholder="New Password"
            type="password"
            id="password"
            class="form-control"
            formControlName="password"
          >
          <mat-error *ngIf="resetPasswordForm.get('password').errors &amp;&amp; resetPasswordForm.get('password').errors.required">
            Password is required
          </mat-error>
          <!-- <mat-error *ngIf="resetPasswordForm.get('password').errors &amp;&amp; resetPasswordForm.get('password').errors.pattern">
            Must be at least 8 character sand contain one uppercase character, one lowercase character, one digit and one special character
          </mat-error> -->
        </mat-input-container>
      </div>
      <div>
        <mat-input-container class="container">
          <input
            matInput
            placeholder="Confirm New Password"
            type="password"
            id="confirmPassword"
            class="form-control"
            formControlName="confirmPassword"
          >
          <mat-error *ngIf="resetPasswordForm.get('confirmPassword').errors &amp;&amp; resetPasswordForm.get('confirmPassword').errors.MatchPassword">
            Must match password
          </mat-error>
        </mat-input-container>
      </div>
      <h5>Password should have at least:</h5>
      <h6>
        <ul>
          <li>Eight characters</li>
          <li>One upper case character</li>
          <li>One lower case character</li>
          <li>One digit</li>
          <li>One special character</li>
        </ul>
      </h6>
      <div class="button">
        <button
          mat-raised-button
          type="submit"
          [disabled]="!resetPasswordForm.valid"
        >Submit</button>
      </div>
      <div class="back-to-login-link">
        <a class="link" routerLink="/">Back to Login</a>
      </div>
    </form>
  </div>
</div>