.send-email-card {
  font-family: Roboto, Helvetica Neue, sans-serif;
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
}
.send-email {
  padding-top: 3em;
}

.container {
  width: 50vw;
}

.button {
  padding-top: 10px;
  display: flex;
  justify-content: center;
}

.back-to-login-link {
  display: flex;
  justify-content: center;
  padding-top: 1em;
}

.link {
  font-style: italic;
  color: gray;
  font-size: smaller;
}

.landing-page {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.container {
  width: 300px;
}